#blue {
    background-color: #005aa4;
}

#desc,
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}

.wraptext-li {
    white-space: normal;
    float: left;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

#badge-all-units {
    background: #005aa4;
    position: relative;
    top: -10px;
    left: 5px;
}

.user-login,
.user-signup {
    background-position: center;
    background-size: cover;
}

.user-login {
    background-image: url("/image/bg-2.jpg");
}

.user-signup {
    background-image: url("/image/bg-3.jpg");
}

.auth-checkbox {
    position: relative;
}
.auth-checkbox .pseudo-label {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ffc107;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius: 4px;
}

.auth-checkbox .pseudo-label::after {
    content: "";
    width: 13px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.auth-checkbox input[type="checkbox"] {
    margin-left: 3px;
}

.auth-checkbox input[type="checkbox"]:checked + label::after {
    opacity: 1;
}
